<!DOCTYPE html>
<html>
<head>
  <title>Crumblr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="container">
  <div class = "page-header">
    <nav>
        <ul class="nav nav-pills pull-right">
          <li><%= link_to 'welcome', root_path %></li>
          <li><%= link_to 'about', about_path %></li>
        </ul>
  <h1><%= link_to 'Crumblr', '/' %> <small>// A Processing Feed</small></h1>
    </nav>
    </div>
    
    <div class ="row">
      <div class ="col-md-6 col-md-offset-3">
        <%= yield %>
      </div>
  </div>
</div>
</body>
</html>
